
@{
    ViewBag.Title = "CREATE";
    Layout = "~/Views/Shared/_layout_form.cshtml";
}
<form id="dx-form" class="dx-form" method="post">
    <input type="hidden" id="id" name="id" value="" />
    <div id="toolbar1" class="toolbar">
        <div id="select-txt">
            <ul class="frm-ul clearfix">
                <li>
                    <select id="searchTypes" class="easyui-combobox" editable="false" style="width: 100px; height: 30px;">
                        <option value="1">真实姓名</option>
                        <option value="2">邮箱</option>
                        <option value="3">身份证号</option>
                        <option value="4">营业执照</option>
                    </select>
                </li>
                <li>
                    <input id="sea_names" class="easyui-textbox" style="width: 150px; height: 30px;" data-options="prompt:'请输入关键字...'," />
                </li>
                <li>
                    <a href="javascript:searchs();" id="btnSearch" class="btn btn-primary">查询</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="listuser"></div>
    <div class="form-group">
        <label>
            <span class="form-group-label">应用名称:</span>
            <input id="name" class="easyui-textbox easyui-validatebox" name="Name" type="text" data-options="required:true,validType:['Length[1,20]']" style="width:400px;" />
        </label>
    </div>
    <div class="form-group">
        <label>
            <span class="form-group-label">关联平台:</span>
            <select id="platformids" class="easyui-combobox" style="width:400px;">
                <option value="1">安卓</option>
                <option value="2">苹果</option>
                <option value="3">H5</option>
            </select>
        </label>
    </div>
    <div class="form-groups">
        <label>
            <span class="form-group-labels">支付类型: </span>
            <span id="paymode"></span>
        </label>
    </div>
    <div class="form-group">
        <label>
            <span class="form-group-label">关联应用: </span>
            <input id="paytypeParentId" value="" name="paytypeParentId" style="width:200px;" />
            <input id="paytypeId" hidden="true" name="paytypeId" style="width:200px; " />
        </label>
    </div>
    <div class="form-group">
        <label>
            <span class="form-group-label">回调地址：</span>
            <input id="notifyurl" class="easyui-textbox easyui-validatebox" name="notifyurl" type="text" data-options="required:true ,validType:['Address']" style="width:400px;" /><span style="color: red">(必须以http://或者https://开头)</span>
        </label>
    </div>
    <div class="form-group" id="tbhddz" style="display:none;">
        <label>
            <span class="form-group-label"> 同步回调地址：</span>
            <input id="showurl" class="easyui-textbox easyui-validatebox" name="notifyurl," type="text" style="width:400px;" /><span style="color: red">(必须以http://或者https://开头)</span>
        </label>
    </div>
    <div class="form-group">
        <label class="form-group-label">
            <span class="form-group-label"> 开发者：</span>
            <input id="userid" name="userid" value="" toolbar="#toolbar1" data-options="required:true" style="width:400px;">
        </label>
    </div>
    <div class="form-group">
        <label>
            <span class="form-group-label">应用地址:</span>
            <input id="appurl" class="easyui-textbox easyui-validatebox " name="appurl" type="text" data-options="required:true,validType:['Address']" style="width:400px;" /><span style="color: red">(必须以http://或者https://开头)</span>
        </label>
    </div>
    <div class="form-group form-inline">
        <label class="form-group-label">
            <span class="form-group-label">应用简介:</span>
            <input id="appsynopsis" class="easyui-textbox easyui-validatebox " name="appurl" type="text" data-options="required:true,multiline:true,validType:['Length[20,100]']" style="width:400px; height: 100px;" />
        </label>
    </div>
</form>
@section scripts{
    <script src="~/app/js/combogrid/UserCombogrid.js"></script>
    <script src="~/app/js/app.js"></script>
    <script type="text/javascript">
        //加载父级应用类型
        $('#paytypeParentId').combobox({
            url: G.http.buildPublicUrl("combobox/GetAppTypePay"),
            method: 'post',
            valueField: 'id',
            textField: 'text',
            editable: false,
            required: true,
            onChange: function (Value) {
                if (Value > 0) {
                    $('#paytypeId').combobox({
                        url: G.http.buildPublicUrl("combobox/GetAppTypeByParentId/" + Value + ""),
                        method: 'get',
                        valueField: 'id',
                        textField: 'text',
                        editable: false,
                        required: true
                    });
                }
            }
        });
        //加载支付类型输出HTML
        $.ajax({
            url: G.http.buildUrl("App/GetPayModeList"),
            dataType: 'json',
            type: 'get',
            success: function(data) {
                var html = "";
                if (data.length > 0) {
                    $.each(data,
                        function(i, p) {
                            //var a = p.p_islocked == 0 ? "disabled=disabled" : "";
                            html += "<input name='zflx'  id='paytype_" +
                                p.p_id +
                                "' data-stat='" +
                                p.p_islocked +
                                "' value='" +
                                p.p_id +
                                "'    type='checkbox' >" +
                                p.p_name +
                                "</input>";
                        });
                    $("#paymode").html(html);
                }
            }
        });
    </script>
}