<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>用户注销--盾行支付</title>
</head>
<body>
    <script src="~/app/global.js"></script>
    <script type="text/javascript">
        G.auth.logout();
    </script>
</body>
</html>
