
@{
    ViewBag.Title = "DCreateorEdit";
    Layout = "~/Views/Shared/_layout_form.cshtml";
}

<form id="dx-form" class="dx-form" method="post">
    <div class="easyui-tabs">
        <div title="基本信息" style="padding:10px;">
            jQuery easyui framework help you build your web page easily.
        </div>
        <div title="身份信息">
            No contact data.
        </div>
        <div title="财务信息">
            111111
        </div>
    </div>
</form>
